#about{
  width: 100%;
  text-align: center;
  margin-top: 95px;
}

#about h1{
  font-family: lobster two;
  font-size: 45px;
  color: #3c4040;
}

#about h4{
  font-weight: normal;
}

#about p{
  margin: 0 auto;
  color: #636363;
  font-size: 18px;
  width: 50%;
}