@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700);

html, body{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}

header{
  background: #272727;
  width: 100%;
  height: 90vh;
  padding: 40px 0;
  color: white;
  text-align: center;
}

#titleholder{
  padding: 5px;
}

header h1{
  font-family: roboto;
  color: #59c134;
  font-size: 45px;
}

header h3{
  font-family: sans-serif;
  color: white;
}

.smoothScroll{
  text-decoration: none;
  color: white;
  transition: all 0.05s linear;
}

.smoothScroll:hover{
  color: green;
}

nav ul{
  background-color: #59c134;
  overflow: hidden;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

.sticky{
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
}

.nav-placeholder{
  margin: 0;
}

nav ul li{
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  width: 65px;
  background-color: #59C134;
  text-align: center;
  font-size: 18.5px;
  font-family: roboto;
}

.handle{
  width: 100%;
  background-color: #59C134;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  display: none;
}

@media screen and (max-width: 580px){
  nav ul{
    max-height: 0px;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 19px;
    padding-left-right: 0;
  }

  .handle{
    display: flex;
    text-align: left;

  }

  .handle > div{
    float: right;
  }

  #hamburger{
    width:30px;
    height:100%;
    box-sizing:border-box;
    text-align:center;
    float: right;
    font-family:sans-serif;
    line-height:30px;
    color:white;
    font-size:15px;
    background-color: #5A5C5C;
    cursor: pointer;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}

#content{
  margin: 0 auto;
  display: block;
}

#content h4{
  font-weight: normal;
}

#content h6{
  font-family: roboto;
  font-size: 20px;
}

#content h6 i{
  cursor: default;
}

#content h6 i:hover{
  color: #919191;
}

#content p{
  font-family: sans-serif;
}

footer{
  background-color: #3c4040;
  width: 100%;
  height: 100%;
  color: #F2F2F2;
  font-family: roboto;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
}