#projects{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  }

#projects h1{
  text-align: center;
  font-family: lobster two;
  color: #3c4040;
  font-size: 45px;
}

#projects h4{
  margin-bottom: 50px;
  text-align: center;
  font-family: roboto;
  color: #3c4040;
  font-size: 20px;
}

.projectholder{
  text-align: center;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto;
  display: inline-block;
  background-color: #3c4040;
  padding: 10px;
  margin-top: 50px;
  border-radius: 3px;
  transition: all 0.08s linear;
}

.projectholder:hover{
  background-color: #272727;
}

.projectholder div{
  width: 100%;
  height: 300px;
}

.projectholder a{
  text-decoration: none;
}

.projectholder h3{
  text-align: center;
  font-family: ubuntu;
  color: #F2F2F2;
}

.projectholder p{
  color: #919191;
  color: white;
}

#projectimg1{
  background-image: url('http://i.imgur.com/OBhG1ht.png');
  background-position: center;
  background-size: 109%;
  cursor: pointer;
  transition: all 0.08s linear;
}