@import 'vars';

#projects{
	width: 100%;
	text-align: center;
	margin: 0 auto;

	h1{
		text-align: center;
		font-family: $heading;
		color: $light-gray;
		font-size: 45px;
	}

	h4{
		text-align: center;
		font-family: $main;
    font-weight: normal;
		font-size: 20px;
		color: $light-gray;
	}

	.projectholder{
    padding: 10px;
		margin: 0 auto;
    margin-top: 50px;
		text-align: center;
    border-style: none;
    min-width: 250px;
    max-width: 400px;
  	display: inline-block;
  	background-color: $white-gray;
  	transition: all 0.1s linear;
    cursor: pointer;

    &:hover{
      background-color: $light-dark;
  	}



    a{
      text-decoration: none;

      h3{
        text-align: center;
  			font-family: $main;
  			color: $dark-gray;
        margin-top: 0;
        padding-top: 2vh;
  		}

  		p{
        color: $text-dark;
        font-family: $main;
  		}

      #projectimg1{
        width: 100%;
  			height: 300px;
  			background-image: url('http://i.imgur.com/OBhG1ht.png');
  			background-position: center;
  			background-size: cover;
  			cursor: pointer;
  			transition: all 0.1s linear;
      }
  	}
  }
}
