@import 'vars';

#services{
	width: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 55px;
	background-color: $dark-gray;
	text-align: center;

	h1{
		text-align: center;
		color: white;
		font-size: 45px;
		font-family: $heading;
	}

	h4{
		margin-bottom: 50px;
		color: white;
		font-size: 20px;
		font-family: $main;
		font-weight: normal;
	}

	.servicebox{
		margin: 0 auto;
		display: inline-block;
		width: 250px;
		margin-bottom: 50px;
	}

	div{
		text-align: center;
		background-color: $dark-gray;
		color: $green;
		padding: 15px;
		font-size: 100px;
	}

	h3{
		color: $white-gray;
		font-size: 30px;
		font-family: $main;
	}

	p{
		font-size: 15px;
		text-align: center;
		color: $text-gray;
	}
}