@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


//colours
$green: #59c134;
$dark-gray: #272727;
$light-gray: #3c4040;
$white-gray: #F2F2F2;
$text-gray: #919191;
$text-dark: #636363;

//fonts
$main: Roboto;
$heading: Lobster Two;
$title: Open Sans;
